* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size:6vh;
    margin-bottom: 1vh;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
footer{
   text-align: center;
}
.p-arcticle:first-letter {
    font-size: 5vh;
}
.index-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
}
.article-title{
    text-align: center;
    font-size: 6vh;
    font-style: italic;
}
.p-article{
    padding-left: 5vh;
    padding-right: 5vh;
    font-style: italic;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh;
}
.img-einstein {
    height: 9vh;
    padding-top: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
}
.img-list {
    height: 5vh;
}
.articles-list {
    font-size: 3vh;
    padding: 2vh;
    border-bottom: .25vh solid #ccc;
    animation: fadeIn 0.5s ease-in-out;
}
.articles:last-child {
    border-bottom: none;
}
.article-container{
    border-top: .25vh solid #ccc;
    padding: 2vh;
    width: 75%;
    box-sizing: border-box;
}
#searchbar {
    margin: 1vh;
    padding: 1vh;
    border-radius: 1vh;
    width: 50%;
    box-sizing: border-box;
}
#icon-attribute{
    text-decoration: none;
    color: black;
    font-size: 1vh;
}
#list {
    list-style: none;
    margin: 1vh;
    padding: 1vh;
    border-radius: 1vh;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
